/* We use the Material Icons font in some of the styles. This brings in
the corresponding fonts from Google Fonts. */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@font-face{
	font-family: 'Source Code Pro', monospace;
	src: url(https://fonts.googleapis.com);
}

/* The root rule is the foundation for the whole page. These settings _cascade_
to all elements unless they are overridden. */
:root {
	/* Change these variables according to your theme */
	--primary: #c72e0f;
	--accent: #b53232;
	--delete: #82ada9;
	--primary-text: #ffffff;

	/* Window background and default font */
    background-image: url(background.jpeg) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* These rules with element selectors apply to all elements of the corresonding names. In a sense, they
are automatically applied */

body {
    max-width: 55rem;			  /* Keeps the page from overflowing on wide monitors */
    margin: 0.5em auto;		      /* 0.5em is top and bottom margin. 'auto' for left and right centers the body on the page */
    border: 1px solid black;	/* Surround the content with a solid black border */
    border-radius: 5px;			  /* Round the corners of the body section */
    padding: 0.75rem;			  /* Padding goes between the borders and the internal content */
    background-color: white;	/* Contrast the body background from the page background */
}

h1 {
	font-family:'Source Code Pro', monospace;
}

nav {
    color: rgb(235, 185, 185);				/* Nav bar is white on very dark gray */
    background-color: #af361b;
    padding: 0.75rem;			  /* Give the nav bar some internal padding */
}

nav a {
    color: #fbd9d9;
	font-weight: bolder;		/* Links in the nav bar are light blue instead of white */
    text-decoration: none;
    padding: 0.75rem;		  /* Don't underline links in the nav bar */
}

/* These with class selectors take effect when you apply the corresponding class name on an element */

.tasklist {
	padding-left: 0;		/* Remove padding that <ul> has by default */
	list-style-type: none;	/* No bullets in the list */
}

/* Add your custom class rules here */
.description-input{
	width: 100%;
	box-sizing: border-box;
}